@import url("https://fonts.googleapis.com/css?family=Outfit:wght@400,700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Lightgray: hsl(212, 45%, 89%);
  --Grayishblue: hsl(220, 15%, 55%);
  --Darkblue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: var(--Lightgray);
}

.card {
  max-width: 370px;
  padding: 15px 20px;
  padding-bottom: 60px;
  border-radius: 10px;
  background: var(--White);
}

.img {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  text-align: center;
  padding: 10px;
}

p {
  font-size: 15px;
  padding: 10px 15px;
  color: var(--Grayishblue);
}

@media (max-width: 450px) {
  .card {
    max-width: 320px;
  }
}
